<div class="page-header">
  <h1>{{message.title}}</h1>
</div>

<p>
  {{message.content}}
</p>

<h2><ng-pluralize count="replies.length"
                 when="{'0': 'Ei vastauksia.',
                     '1': 'Yksi vastaus.',
                     'other': '{} vastauksia.'}">
                   </ng-pluralize></h2>

<ul class="media-list">
  <li class="media">
    <div class="media-body" ng-repeat="vastaus in replies">
      <h4 class="media-heading">Käyttäjätunnus tähän</h4>

      <p>
        {{vastaus.content}}
      </p>

      <p class="text-muted">
        1.1.2015 12:00
      </p>
    </div>
  </li>
</ul>
<div ng-if="userLoggedIn">
  <h2>Lisää oma vastauksesi</h2>

  <form>
    <div class="form-group">
      <label>Vastaus</label>
      <textarea ng-model="reply.content" class="form-control"></textarea>
    </div>
    <button ng-click="addReply(reply)" class="btn btn-success">Lisää vastaus</button>
  </form>
</div>
